@import '../../utils/vars.scss';

.login {

  position: relative;

  width: 400px;
  padding: 70px 50px;

  font-size: 18px;
  font-weight: 500;

  background-color: $darkGrey;
  border: 2px solid $darkGreen;
  border-radius: 30px;

  &__loading-text{
    position: absolute;
    top: 30px;
    left: 50%;

    font-size: 22px;
    font-weight: 600;

    color: $lightGray;

    transform: translateX(-50%);
  }

  &__form {
    margin-bottom: 20px;
  }

  &__input {
    width: 100%;
    padding: 5px 15px;
    margin-bottom: 20px;

    font-size: 20px;

    color: $lightGray;
    background-color: $grey;
    border: 2px solid $darkGreen;
    border-radius: 15px;
    outline:none;

    &--error {
      border-color: $red;
    }

      &-title {
        color: $lightGray;
        margin-bottom: 5px;
      }
  }

  &__error {
    margin-bottom: 5px;

    text-align: center;

    color: $red;
  }

  &__button {
    display: block;

    width: 100%;
    margin-bottom: 20px;
    padding: 10px;

    font-size: 20px;

    color: $lightGray;
    background-color: $darkGreen;
    border: 2px solid $green;
    border-radius: 20px;

    transition: all 0.3s;

    &:hover {
      background-color: $green;

      scale: (1.1);
    }

    &:disabled {
      background-color: #638155;

      scale: none;
      
      cursor: not-allowed;
    }
  }
}