@import '../../utils/vars.scss';

  .card-list {
    min-height: 100vh;

    background-color: $black;

    &__container {
      display: flex;
      flex-direction: column;

      max-width: 1170px;
      margin: 0 auto;
      padding: calc($headerHeight + 40px) 5px 100px;
    }

    &__title {
      margin-bottom: 25px;

      font-size: 46px;

      color: $lightGray;
    }

    &__list {
      display: flex;
      flex-wrap: wrap;
      gap: 30px;
      justify-content: left;

      width: 100%;
      padding-top: 50px;
      margin-bottom: 50px;
    }

    &__card {
      height: 500px;
      min-width: 366px;

      background-color: $green;
      border-radius: 20px;
    }

    &__list-button{
      margin: 0 auto 100px;
      padding: 20px 50px;

      font-size: 28px;
      font-weight: 700;
      
      color: $lightGray;
      background-color: $grey;
      border-radius: 20px;
      border: 2px solid $lightGray;

      transition: all 0.3s;

      &:hover {
        background-color: $green;
        border-color: $darkGreen;
        
        scale: (1.1);
      }
    }
  }