@import '../../utils/vars.scss';

.header {
  position: fixed;
  z-index: 2;

  width: 100%;

  background-color: $grey;
  box-shadow: 1px 8px 16px -1px rgba(0,0,0,0.74);
  -webkit-box-shadow: 1px 8px 16px -1px rgba(0,0,0,0.74);
  -moz-box-shadow: 1px 8px 16px -1px rgba(0,0,0,0.74);

  &__container {
    display: flex;
    justify-content: space-between;

    width: 1170px;
    margin: 0 auto;
    padding: 10px 5px;
    
  }

  &__title {
    color: white;

    font-size: 24px;
    text-transform: uppercase;
    font-weight: 700;
  }

  &__subtitle {
    color: $lightGray;

    font-size: 16px;
    font-weight: 300;
  }

  &__user {
    display: flex;

    &-login {
      margin-right: 20px;
      padding: 15px;

      font-size: 18px;
      font-weight: 600;

      color: $lightGray;
      background-color: $green;
      border-radius: 15px;

      cursor: default;
    }

    &-logout {
      padding: 15px;

      font-size: 18px;
      font-weight: 600;

      color: $lightGray;
      background-color: $darkGreen;
      border: 2px solid $green;
      border-radius: 15px;

      transition: all 0.3s;

      cursor: pointer;

      &:hover {
        background-color: $green;
      }
    }
  }
}