@import '../../utils/vars.scss';

.error {
  &__content {
    padding: 70px 50px;
    border: 2px solid $darkGreen;
    background-color: $darkGrey;
    border-radius: 30px;
  }

  &__title {
    margin-bottom: 50px;
    font-size: 40px;
    font-weight: 700;
    color: $lightGray;
  }

  &__button {
    display: block;
    margin: 0 auto;
    padding: 20px 50px;
    border: 2px solid $green;
    background-color: $darkGreen;
    transition: all 0.3s;
    color: $lightGray;
    font-size: 30px;
    font-weight: 700;
    border-radius: 20px;

    &:hover {
      background-color: $green;
      scale: (1.1);
    }
  }
}

