@import '../../utils/vars.scss';

.card {
  position: relative;

  height: 500px;
  width: 366px;

  color: $lightGray;
  background-color: $black;
  border: 1px solid $lightGray;
  border-radius: 20px;

  transition: all 0.2s;

  cursor: pointer;

  &:hover {
    background-color: $grey;
    border-color: $green;
  }

  &__image {
    height: 300px;
    min-height: 300px;
    width: 100%;
    margin-bottom: 10px;

    border-radius: 20px 20px 0 0;

    object-fit: cover;
    object-position: center;
  }

  &__description {
    height: 150px;
    padding: 0 15px;
    
  }

  &__title {
    margin-bottom: 10px;

    font-size: 18px;
    font-weight: 800;
  }

  &__free {
    position: absolute;
    top: 15px;
    right: 15px;

    padding: 5px;

    font-size: 16px;
    font-weight: 700;

    background-color: $green;
    border-radius: 10px;
  }

  &__banners {
    position: absolute;
    top: 15px;
    left: 15px;

    padding: 5px;

    font-size: 16px;
    font-weight: 700;

    border-radius: 10px;
  }

  &__top {
    margin-right: 20px;
  }

  &__top {
    padding: 5px;

    font-size: 16px;
    font-weight: 700;

    background-color: $green;
    border-radius: 10px;
  }

  &__genre {
    padding: 5px;

    font-size: 16px;
    font-weight: 700;

    border-radius: 10px;
    background-color: $grey;
    opacity: 75%;

    
  }

  &__text {
    display: box;
    display: -webkit-box;

    overflow: hidden;

    -ms-text-overflow: ellipsis;
    text-overflow: ellipsis;
    -ms-line-clamp: 5;
    -webkit-line-clamp: 5;
    line-clamp: 5;
    word-wrap: break-word;
    -webkit-box-orient: vertical;
  }

  &__launchers {
    position: absolute;
    top: 265px;
    left: 15px;
  }

  &__logo {
    width: 50px;
    height: 50px;

    background-color: white;
    border: 6px solid $black;
    border-radius: 50%;
  }
}
