@import '../../utils/vars.scss';

.selector {
  display: flex;
  
  &__category {
    display: flex;
    flex-wrap: wrap;

    &-button {
      padding: 10px 15px;
      margin-right: 10px;
      margin-bottom: 10px;

      font-size: 16px;
      font-weight: 500;

      color: $lightGray;
      background-color: $grey;
      border: 1px solid $lightGray;
      border-radius: 10px;

      transition: all 0.3s;

      cursor: pointer;

      &:hover {
        border-color: $darkGreen;

        scale: (1.1);
      }

      &--selected {
        background-color: $green;
      }
    }
  }

  &__sort {
    display: flex;
    flex-direction: column;

    width: 350px;
    padding: 0 10px;
    

    &-title {
      margin-bottom: 10px;

      font-size: 18px;
      font-weight: 500;

      color: $lightGray;
    }

    &-button {
      margin-bottom: 10px;
      padding: 5px;

      font-size: 22px;
      font-weight: 500;

      color: $lightGray;
      background-color: $grey;
      border: 1px solid $lightGray;
      border-radius: 15px;

      transition: all 0.3s;

      cursor: pointer;

      &:hover {
        border-color: $darkGreen;

        scale: (1.05);
      }

      &--selected {
        background-color: $green;

        &:hover {
          border-color: $lightGray;
          
          scale: none;
        }
      }
    }
  }
}